* {
    margin: 0;
    text-align: center;
}

body {
    background: linear-gradient(45deg,rgb(73, 253, 253),rgb(219, 219, 250),rgb(41, 255, 130));
}
table {
    width: 100%;
    margin-top: 30px;
}
img {
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}
#header {
    background-color: black;
    height: 70px;
}
h1 {
    color: orangered;
}
#brand {
    width: 40%;
    float: left;
    line-height: 70px;
    text-align: center;
    }
#menu {
    width: 60%;
    float: right;
    line-height: 70px;
    text-align: center;
    }
a {
    color: cornsilk;
    margin: 20px;
    text-decoration: none;

}

#title {
    margin-top: 35px;
}
 
#Shoe {
    margin-top: 20px;
}
#sh {
    background: linear-gradient(45deg,darkred,black);
    color: cornsilk;
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin:20px auto
}
#Sandals {
    margin-top: 20px;
}
#sa {
    background: linear-gradient(45deg,darkred,black);
    color: cornsilk;
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin:20px auto
}
#Slippers {
    margin-top: 20px;
}
#sl {
    background: linear-gradient(45deg,darkred,black);
    color: cornsilk;
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin:20px auto
}
#footer {
    background: black;
    padding: 50px;
    color: cornsilk;
    margin-top: 50px;
}